<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TPV.Properties.Settings>
            <setting name="MesasSalon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MesasTerraza" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Admin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cont" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NombreMenu" serializeAs="String">
                <value />
            </setting>
            <setting name="PrecioMenu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cod_prod" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="MesaAbiertaSalon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CambioPrecio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValorMenu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IdProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContolBorrado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DineroEfectivo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DineroTarjeta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CajaAbierta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cambio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContArqueo" serializeAs="String">
                <value>0</value>
            </setting>
        </TPV.Properties.Settings>
    </userSettings>
</configuration>